html{
  background-image: url(https://crazybasenji.files.wordpress.com/2009/03/snowleopscketch.jpg);
  background-repeat:no-repeat;
  background-position: top;
  background-size: 100%;
  display: inline-flex;
}

div:hover{
  color:white;
  font-size: 150%
}

h1{
  position: relative; ;
  display: inline-flex;
  font-family:'indie flower',cursive;
  padding-top: 0%;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
}

body{
  display:inline-block;
  padding:1%;
  font-family:'indie flower',cursive;
}

p a {
text-decoration: none;
color: black;
}
