html body{
  background-image: url('Images/Background_image.jpg');
  background-repeat:repeat;
  height: 100%;
  background-position:center;
}

#picture {
content: url('Images/new_cube_4.png');
width: 10em;
margin:0 auto;
margin-top: 5%;
}

#story:hover:after{
    content: url('Images/new_cube1.png');
    margin: 0 auto;
    margin-top: 2em;
    margin-left:72%;
    position: absolute;
    text-decoration: none;

}

#works:hover:after{
    content: url('Images/new_cube3.png');
    margin: 0 auto;
    margin-top: 2em;
    margin-left: -25%;
    position: absolute;
    text-decoration: none;
}

#contact:hover:after{
    content: url('Images/new_cube_2.png');
    margin: 0 auto;
    margin-top: 1.5em;
    margin-left: -128%;
    position: absolute;
    text-decoration: none;
}

div {
  font-family:'indie flower',cursive;
  margin:0 auto;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 1em;
}


.col-md-4 a {
  text-decoration: none;
  font-size: 2em;
  color: black;
}

.col-md-4 a:hover{
  text-decoration: none;
  color: white;
}

.quote{
  font-family:'indie flower',cursive;
  text-align: center;
  font-size: 3em;
  background-color: transparent;
}
