html{
  background-image: url(http://dougandmarsha.com/Rubiks_Cube_Users_Guide_files/image002.jpg);
  background-size:10%;
  background-repeat:no-repeat;
  background-position:48.4% 39%;
}

div p{
  font-family:'indie flower',cursive;
  display: inline-flex;
  position:relative;
  padding:10%;
}



p a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

a:hover{
  color:white;
  font-size: 150%
}

.quote{
  font-family:'indie flower',cursive;
  text-align: center;
}
