html body{
  background-image: url('Images/Background_image.jpg');
  background-repeat:repeat;
  height: 100%;
  background-position:center;
  font-family:'indie flower',cursive;
}

.quote{
  font-family:'indie flower',cursive;
  text-align: center;
}

#picture img{
  width: 100%;
  height: 100%;
}

#picture{
  width:45%;
  margin: 0 auto;
  margin-bottom: 5em;
  border-radius: 10px
}

#story{
width: 70%;
margin: 0 auto;
font-size: 2em;
}

.col-md-12 {
  margin-top: 1em;
  text-align: center;
  text-decoration: none;
  font-size: 1.75em;

}

.col-md-12 a:hover{
  text-decoration: none;
  color: white;
   font-size: 200%;
}

