html body{
  background-image: url('Images/Background_image.jpg');
  background-repeat:repeat;
  height: 100%;
  background-position:center;
  font-family:'indie flower',cursive;
}


.quote{
  font-family:'indie flower',cursive;
  text-align: center;
}

.col-md-4 {
  margin-top: 1em;

}

.col-md-12 {
  text-align: center;
  text-decoration: none;
  font-size: 1.75em;

}

.col-md-12 a:hover{
  text-decoration: none;
  color: white;
  font-size: 200%;
}



.col-md-12 a{
  text-decoration: none;
  color: black;
}



