html body{
  background-image: url('Images/Background_image.jpg');
  background-repeat:repeat;
  height: 100%;
  background-position:center;
  font-family:'indie flower',cursive;
}

.col-md-4 {
  margin-top: 3em;
}