.titleimage{
  width: 20%;
  height:auto;
}



h2{
  font-family:'indie flower',cursive;
  text-align: center;
  font-size: 25px
}

p a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

a:hover{
  color:white;
  font-size: 150%
}
div{

}

p{
  font-family:'indie flower',cursive;
  text-align: left;
  font-size: 17px;
}

.image1{
    float: right;
  width: 50%;
  height: auto;
  border: 2px solid black;
  margin-left: 30px;
  margin-top: 30px;
}

.titleimage{
;

}