html{
  background:
  url('../images/52afb5c1b78a4c6615d8b64172c27796.png') 10px 10px,
  url('../images/Background_image.jpg');
  background-repeat:no-repeat;
}

.pics{
    width:70%;
    height:300px;
}

h1{
  padding: 0% 0% 0% 0%;
  font-size: 50px;
  font-family:'indie flower',cursive;
  background-color: red;
  text-align: center;
  margin:0%;
}

h2{
  background-color: red;
  font-size: 35px

}

p{
  background-image: url('https://crazybasenji.files.wordpress.com/2009/03/snowleopscketch.jpg');
  border-radius: 5px;
  padding: 0%

}
.post{
    word-wrap: break-word;
    font-family:'indie flower',cursive;
    border-radius: 30px;
    font-size: 14px;
    padding: 0% 5% 5% 5%;
    border-left: 10em solid rgba(0, 0, 0, 0.5);
    border-right: 10em solid rgba(0, 0, 0, 0.5);
}

nav{
  font-family:'indie flower',cursive;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    padding: 10% 10% 10% 10%;
}

a:hover{
  color:white;
  font-size: 150%;
}


a {
    text-decoration: none;
  color: black;
  width: 20%;
}
