html body{
  background-image: url('../Images/Background_image.jpg');
  background-repeat:repeat;
  height: 100%;
  background-position:center;
  font-family:'indie flower',cursive;
}

.quote{
  font-family:'indie flower',cursive;
  text-align: center;
}

div {
  margin:0 auto;
  margin-top: 5em;
  margin-bottom: 3em;
}

img {
  margin: 0 auto;
  margin-left: 45%;
}

a:hover{
  color:white;
  font-size: 200%;
  text-decoration:none;
}

#Facebook:hover:after{
    content: url('../Images/ICONS/facebook_logo_57.png');
    display: block;
    position: absolute;
    left: 110%;
    margin-top: 4em;
}

#Twitter:hover:after{
    content: url('../Images/ICONS/twitter_logo_57.png');
    display: block;
    position: absolute;
    left:-85%;
    margin-top: 4em;
}

#LinkedIn:hover:after{
    content: url('../Images/ICONS/linkedin_logo_57.png');
    display: block;
    position: absolute;
    left:27%;
    margin-top: 4em;
}

.col-md-12 {
  margin-top: 9em;
  text-align: center;
  text-decoration: none;
  font-size: 1.75em;

}

.col-md-12 a:hover{
  text-decoration: none;
  color: white;
}