html body{
  background-image: url('../Images/Background_image.jpg');
  background-repeat:repeat;
  height: 100%;
  background-position:center;
}

.quote{
  font-family:'indie flower',cursive;
  text-align: center;
}

div {
  margin:0 auto;
  margin-top: 5em;
  margin-bottom: 3em;
}
img {
  margin: 0 auto;
  margin-left: 45%;
}

a:hover{
  color:white;
  font-size: 150%
}

#Facebook:hover:after{
    content: url('../Images/ICONS/facebook_logo_57.png');
    display: block;
    position: absolute;
    left: 110%;
    top: 80px;
}

#Twitter:hover:after{
    content: url('../Images/ICONS/twitter_logo_57.png');
    display: block;
    position: absolute;
    left:-85%;
    top: 80px;
}

#LinkedIn:hover:after{
    content: url('../Images/ICONS/linkedin_logo_57.png');
    display: block;
    position: absolute;
    left:27%;
    top: 80px;
}