@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');

body {
  color: black;
}


@media (min-width: 992px) {
  .desc-text {
    margin-top: 6em;
  }
  .embed-responsive-item {
    border-radius: 50%;
  }
}

.embed-responsive-item {
  object-fit: cover;
}

.main-container {
  background-color: black;
}

.desc-text {
  color: white;
}